@using Blazored.Toast
@inherits LayoutComponentBase

@if (!IsLogin)
{
    @*LOGIN FORM *@
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <h2 class="card-header text-white bg-primary text-center">MarketStorm</h2>
                                @*<img src="../../assets/images/logo.svg" alt="logo">*@
                            </div>

                            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />

                                <div class="form-group">
                                    <InputText @bind-Value="model.Username" class="form-control form-control-lg" placeholder="Username" aria-describedby="inputGroupPrepend" required />
                                    <ValidationMessage For="@(() => model.Username)" />
                                </div>

                                <div class="input-group mb-3">
                                    <InputText @bind-Value="model.Password" type="password" class="form-control form-control-lg" placeholder="Password" aria-describedby="inputGroupPrependLock" required />
                                    <ValidationMessage For="@(() => model.Password)" />
                                </div>

                                <button class="btn btn-primary btn-block">
                                    Login
                                </button>
                                @*<button class="btn btn-primary btn-block" @onclick=Adduser>Add User</button>*@
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <BlazoredToasts />
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
        <BlazoredToasts />
    </div>
}

