@page "/AddCategory"
@page "/EditCategory/{Id}"
@inherits Base.PopupMasterComponent

<div class="modal fade show d-block" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 m-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 grid-margin stretch-card p-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <button type="button" class="close closebtn btn-lg p-0" aria-label="Close" @onclick=ModalCancel>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <EditForm Model="@Category" OnValidSubmit="SaveCategory" OnInvalidSubmit="InvalidSubmission">
                                    <DataAnnotationsValidator />
                                    <div class="d-flex justify-content-between">
                                        <p class="card-title">@(String.IsNullOrEmpty(Id) ? "Add" : "Edit") Category</p>
                                    </div>

                                    <div class="row pt-4">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Category Name</label>
                                            <div class="col-sm-8">
                                                <InputText class="form-control" id="mobileno" @bind-Value=@Category.Name placeholder="Name" required />
                                                <ValidationMessage For="@(() => Category.Name)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <th class="text-center" colspan="2">
                                                        Subcategories
                                                    </th>
                                                </tr>
                                                @foreach (var subcatgory in Category.SubCategories)
                                                {
                                                    <tr class="rowClass">
                                                        <td class="row-index text-center">
                                                            <InputText class="form-control" id="mobileno" @bind-Value=@subcatgory.Name placeholder="Name" required />
                                                        </td>
                                                        <td class="text-center">
                                                            <button class="close closebtn btn-lg p-0" aria-label="Close" @onclick="()=> { DeleteSubCategory(subcatgory);}"
                                                                    type="button">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                        <div class="text-center mb-3">
                                            <button class="btn btn-sm btn-primary"
                                                    id="addBtn" type="button" @onclick=AddDefaultSubCategory>
                                                Add
                                            </button>
                                        </div>
                                    </div>


                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <button type="button" class="btn btn-info mr-2" @onclick=@Restore>Restore Values</button>
                                        <button type="button" class="btn btn-light" @onclick=@ModalCancel>Cancel</button>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>