@page "/"
@using MarketStrom.UIComponents.DTO;
<PageTitle>Dashboard</PageTitle>


<div class="row">
    <div class="row col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <h2 class="m-3"> Dashboard </h2>
        <div class="row">

            @foreach (OrderDTO order in AvailableOrders)
            {
                <div class="col-3 card m-3">
                    <div class="row card-body text-center pb-0">
                        <h4><strong> @order.CategoryName  </strong></h4>
                        <h5><strong>(@order.SubCategoryName)</strong></h5>
                        <h5>@((order.Quantity + "/" + order.AvailableQuantity)) (B)</h5>
                    </div>
                    <div class="text-center pb-3">
                        <button class="col-6 btn btn-danger btn-rounded btn-md" @onclick="() => {SellOrder(order);}">Sell</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>